---
- name: Multi database tasks
  when: backup_postgresql_db is undefined
  block:
    - name: Get postgresql databases
      community.postgresql.postgresql_query:
        query: SELECT datname AS database FROM pg_database WHERE NOT datistemplate AND datname <> 'postgres'
        login_db: postgres
        login_user: '{{ backup_postgresql_user | default(omit) }}'
        login_password: '{{ backup_postgresql_password | default(omit) }}'
        login_host: '{{ backup_postgresql_host | default(omit) }}'
        login_port: '{{ backup_postgresql_port | default(omit) }}'
      register: db_list
      become_user: postgres
      become: true

    - name: Include PostgreSQL db tasks
      ansible.builtin.include_tasks: postgresql_db.yml
      loop: "{{ db_list.query_result | default([]) }}"
      loop_control:
        loop_var: db

- name: Include PostgreSQL db task for single database
  ansible.builtin.include_tasks: postgresql_db.yml
  loop: "{{ backup_postgresql_db.split(',') | default([]) }}"
  loop_control:
    loop_var: db
  when: backup_postgresql_db is defined
