---
dependencies: []

galaxy_info:
  description: Run daily backups for files, MySQL databases and PostgreSQL databases
  author: alexandermeindl
  company: AlphaNodes GmbH
  license: Apache License 2.0
  min_ansible_version: '2.18'
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
        - trixie
  galaxy_tags:
    - backup
    - postgresql
    - mysql
    - borgbackup
    - files
    - rotation
    - daily
