---
# defaults file for backup

backup_dir: /srv/backups
backup_dir_mode: '0755'
backup_dir_owner: root
backup_dir_group: root

# Amount of days for daily backup sets. >=1 days are supported
backup_max_days: 3

# Amount of weeks for weekly backup sets. >= 0 days are supported.
backup_max_weeks: 2

# Amount of months for monthly backup sets. >= 0 days are supported.
backup_max_months: 1

backup_remote_host: ''
backup_remote_port: ''
backup_remote_dir: ''
backup_remote_excludes:
  - '*.journal'
  - '.nfs*'
  - '*.tar'

# files with extension .tar will be removed
backup_remove_temp_files: true

backup_rsync_options: '-avz --delete'

# rsync or lftp
backup_remote_transfer: ''

# only used with lftp
backup_remote_user: ''
backup_remote_password: ''
# see https://lftp.yar.ru/lftp-man.html
backup_lftp_mirror_options: '--reverse --continue --delete --no-perms --verbose'

# has to end with ;
# Timeout and connection settings to handle unstable network connections.
# See: https://lftp.yar.ru/lftp-man.html (section SETTINGS)
# - ssl:verify-certificate: disable SSL cert verification for self-signed certs
# - net:timeout: abort operation if no data transfer (default: 5m = 300s)
# - net:reconnect-interval-base: wait time before reconnecting (default: 15s)
# - net:max-retries: retry failed operations (default: 1000)
# - mirror:parallel-transfer-count: parallel file transfers (default: 0 = auto)
# - dns:order: prefer IPv4 over IPv6 to avoid IPv6 routing issues (default: "inet6 inet")
# For unstable connections, consider adding in host_vars:
# - ftp:ssl-protect-data on: encrypt data channel, not just control channel
# - ftp:use-epsv off: use standard PASV instead of Extended Passive Mode
# - net:socket-buffer: larger buffer for better throughput (e.g. 16777216)
backup_lftp_pre_commands: >-
  set ssl:verify-certificate false;
  set net:timeout 300;
  set net:reconnect-interval-base 30;
  set net:max-retries 5;
  set mirror:parallel-transfer-count 1;
  set dns:order "inet";

# Uncompressed SQL files (.sql) as well as bzip2 (.bz2), gzip (.gz) and xz
# (at the moment only used for mysql dumps)
backup_db_dump_format: .sql.gz

backup_with_mysql: false
backup_with_postgresql: false

# If remote postgresql server is used, you can use this to connect to it.
# backup_postgresql_host:
# backup_postgresql_port:
# backup_postgresql_user:

backup_mysql_db_excludes:
  - performance_schema
  - information_schema
  - sys

backup_mysql_single_transaction: true
backup_mysql_quick: true

# Custom mysql options (always sql.gz is used)
# backup_mysqldump_options: '--extended-insert=true'
backup_mysqldump_options: ''
backup_mysql_defaults_extra_file: ''

backup_postgresqldump_options: "-n public --no-owner -Fc"
backup_create_hashfiles: false
# set it if you need it
# backup_files_unsafe_writes: false

backup_postgresql_file_owner: postgres

# true, if you want to encrypt backup files
# NOTE: backup_file_encrypt_password is required for it
backup_file_encrypted: false
# set password for symmetric encryption
# backup_file_encrypt_password:
backup_file_encrypt_command: gpg --batch --symmetric --passphrase={{ backup_file_encrypt_password }}

backup_sets: []
# - name: etc
#   src: /etc

backup_set_rsync_default_options: '-avx --delete'
backup_set_rsync_default_exclude:
  - '.nfs*'

# create only one backup per day
# (existing backup of same day will be removed)
backup_one_per_day_limit: true

# if sync_master is defined, backup will be skipped
# (you can use it for replication environments)
# sync_master: anything

# if sync_master is defined, this means it is a sync_client
backup_skip_sync_clients: true

# define commands, which should be run before backup
backup_pre_commands: []

# define commands, which should be run after backup
backup_post_commands: []

backup_with_borg: false
backup_borg_install_from_binary: false
backup_borg_binary_version: '1.1.10'
backup_borg_binary_platform: 'linux64'
backup_borg_binary_uri: "https://github.com/borgbackup/borg/releases/download/{{ backup_borg_binary_version }}/borg-{{ backup_borg_binary_platform }}"
backup_borg_binary: '/usr/local/bin/borg'

# backup_borg_directories:
#  - /etc
#  - /home
#  - /var
backup_borg_directories: []

# backup_borg_excludes: []
#  - 're:^/var/lib/apt'
#  - 're:^/var/[^/]+\/cache/'
backup_borg_excludes: []

# ssh://{{ storageboxes.no1.user }}@{{ storageboxes.no1.host }}:23/./backups/server1
# /srv/borg_backup
backup_borg_repo: ''
backup_borg_passphrase: ''

# there can be used a second repo to create redundant backups
# @see: https://borgbackup.readthedocs.io/en/stable/faq.html#can-i-copy-or-synchronize-my-repo-to-another-location
backup_borg_repo2: ''
backup_borg_passphrase2: ''

backup_borg_prune_keep_daily: 7
backup_borg_prune_keep_weekly: 4
backup_borg_prune_keep_monthly: 1

# see https://borgbackup.readthedocs.io/en/stable/usage/create.html#
backup_borg_compression: auto,zlib,6
backup_borg_create_name: '{hostname}-{now:%Y-%m-%d_%H:%M}'
# use it for e.g. --one-file-system
backup_borg_create_params: '--compression {{ backup_borg_compression }} -v --stats'
# see https://borgbackup.readthedocs.io/en/stable/usage/init.html#more-encryption-modes
backup_borg_encryption_mode: keyfile-blake2
backup_borg_with_prune: true
backup_borg_prune_params: '-v --show-rc --list'
backup_borg_with_compact: true
backup_borg_compact_params: '-v --show-rc'
backup_borg_with_check: true
backup_borg_check_params: '-v'
backup_borg_with_info: true
backup_borg_info_params: '-v'

# MySQL backend selection: mysql (Oracle MySQL) or mariadb (Debian/Ubuntu native)
# Passed from ansible_node playbook generation
mysql_backend: mysql

# required globally for mysql auth_socket support
# caching_sha2_password (MySQL) or mysql_native_password (MariaDB) or auth_socket
mysql_root_plugin: "{{ 'mysql_native_password' if mysql_backend == 'mariadb' else 'caching_sha2_password' }}"
mysql_socket: /run/mysqld/mysqld.sock
